---
interface LocationItem {
  title: string;
  mapSrc: string;   
  adress: string;
  phone: string; 
  email: string;
  hours?: string[];
}

const {
  locations = [
    {
      title: "Showroom Perú",
      mapSrc: "https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d243.81606939360694!2d-77.0394825!3d-12.1082429!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c84754e64a2b%3A0xa57b8e327ec89a6b!2sScanavini!5e0!3m2!1ses!2scl!4v1763358595539!5m2!1ses!2scl",
      adress: "Av. Emilio Cavenecia 337, San Isidro, Lima - Perú",
      phone: "+51 983 487 908",
      email: "info@scanavini.pe",
      hours: ["Lunes a Jueves de 08:00 a 18:30 hrs.", "Viernes de 08:00 a 16:45 hrs"]
    },
    {
      title: "Casa Matriz Santiago",
      mapSrc: "https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d208.0419820774311!2d-70.6707829532399!3d-33.45785848617297!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662c4fd119c211f%3A0xf2225ff600a102fe!2sComercial%20Ltda%20Scanavini.!5e0!3m2!1sen!2scl!4v1762528885259!5m2!1sen!2scl",
      adress: "Av. Almirante Blanco Encalada 2545, Santiago, Chile.",
      phone: "+56 2 2829 0100",
      email: "info@scanavini.com",
      hours: ["Lunes a Jueves de 09:00 a 17:30 hrs.", "Viernes de 09:00 a 16:15 hrs"]
    }
  ] as LocationItem[],
} = Astro.props as {
  locations?: LocationItem[];
};
---

<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-1 gap-10 ">
  {
    locations.map((loc) => {
      return (
        <article class="px-2">
          <h3 class="mb-3 text-neutral-dark font-semibold text-base md:text-lg  uppercase">
            {loc.title}
          </h3>
          <section class=" flex flex-col lg:flex-row align-center justify-between gap-8 lg:gap-6 w-full ">
            <div class="rounded-lg overflow-hidden lg:w-[430px] xl:w-[420px] h-full border border-background-muted shadow-soft p-3">
              <iframe
                src={loc.mapSrc}
                title={loc.title}
                width="100%"
                height="100%"
                loading="lazy"
                referrerpolicy="strict-origin-when-cross-origin"
                class="w-full h-full md:h-64 lg:h-52 rounded-lg"
              />
            </div>

            <div class="md:text-sm leading-relaxed text-neutral-grey w-full lg:w-2/5 xl:1/2">
              <div class=" text-sm leading-relaxed text-neutral-grey flex items-center gap-2 mb-3">
                <div class="flex justify-center items-center">
                  <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-map-pin-icon lucide-map-pin"><path d="M20 10c0 4.993-5.539 10.193-7.399 11.799a1 1 0 0 1-1.202 0C9.539 20.193 4 14.993 4 10a8 8 0 0 1 16 0"/><circle cx="12" cy="10" r="3"/></svg>
                </div>
                <div class="w-full" >
                  <p class="font-semibold" >Dirección:</p>
                  <p class="w-full" >{ loc.adress }</p>
                </div>
              </div>

              <div class="text-sm leading-relaxed text-neutral-grey flex items-center gap-4 mb-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-headset-icon lucide-headset"><path d="M3 11h3a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-5Zm0 0a9 9 0 1 1 18 0m0 0v5a2 2 0 0 1-2 2h-1a2 2 0 0 1-2-2v-3a2 2 0 0 1 2-2h3Z"/><path d="M21 16v2a4 4 0 0 1-4 4h-5"/></svg>
                <div>
                  <p class="font-semibold" >Teléfono:</p>
                  <a href={`tel:${ loc.phone }`} class="hover:underline hover:text-brand"  >{ loc.phone }</a>
                </div>
              </div>

              <div class="text-sm leading-relaxed text-neutral-grey flex items-center gap-4 mb-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-mail-plus-icon lucide-mail-plus"><path d="M22 13V6a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2v12c0 1.1.9 2 2 2h8"/><path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"/><path d="M19 16v6"/><path d="M16 19h6"/></svg>
                <div>
                  <p class="font-semibold" >Correo electrónico:</p>
                  <a href={`mailto:${ loc.email }`} class="hover:underline hover:text-brand" >{ loc.email }</a>
                </div>
              </div>

              <div class="text-sm leading-relaxed text-neutral-grey flex items-center gap-4 mb-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-clock2-icon lucide-clock-2"><path d="M12 6v6l4-2"/><circle cx="12" cy="12" r="10"/></svg>
                <div>
                  <p class="font-semibold" >Horario de atención:</p>
                  {loc.hours && loc.hours[0] && <p class="" >{ loc.hours[0] }</p>}
                  {loc.hours && loc.hours[1] && <p class="" >{ loc.hours[1] }</p>}
                </div>
              </div>
            </div>
          </section>
        </article>
      )
    })
  }
</div>
