---
import TitleOfSection from "../layout/TitleOfSection.astro";
import BranchInformation from "./BranchInformation.astro";
import ContactForm from "./ContactForm.astro";

---

<section class="pb-12 pt-24 lg:pb-20 lg:pt-36 bg-background-light relative">
  <section class="container-custom sm:px-3 md:px-5 lg:px-10 xl:px-0">

    <TitleOfSection 
      titleOfSection="Contacto"
    />

    <!-- Layout principal -->
    <div class="flex flex-col xl:flex-row justify-between gap-8 sm:gap-10 lg:gap-16 2xl:gap-20
                w-full max-w-[1400px] mx-auto xl:mt-16">
      <!-- Columna formulario (ARRIBA en mobile - IZQUIERDA en desktop  ) -->
      <div 
        class="order-1 w-full xl:w-2/5 xl:max-w-[420px] mx-auto"
        data-animation="form"
      >
        <ContactForm />
      </div>

      <!-- Columna mapas (ABAJO en mobile - DERECHA en desktop ) -->
      <div 
        class="order-2 mt-6 xl:mt-0 xl:w-3/5"
        data-animation="sucursales"
      >
        <BranchInformation />
      </div>
    </div>
  </section>

</section>


<script>
  import ScrollReveal from "scrollreveal";

	ScrollReveal().reveal('[data-animation="form"]', {
		distance: "150px",          // se mueve un poco desde abajo
		origin: "left",
		opacity: 0,
		duration: 900,
		easing: "cubic-bezier(0.4, 0, 0.2, 1)", // similar a tu transición global
		interval: 80,              // stagger entre cada card
		reset: false,              // solo se anima una vez
		cleanup: false,             // limpia estilos inline cuando termina
		delay: 650,
    mobile: false,
	});

	ScrollReveal().reveal('[data-animation="sucursales"]', {
		distance: "150px",          
		origin: "right",
		opacity: 0,
		duration: 900,
		easing: "cubic-bezier(0.4, 0, 0.2, 1)", 
		interval: 80,              
		reset: false,              
		cleanup: false,             
		delay: 650,
    mobile: false,
	});

</script>



