---
import TitleOfSection from "../../layout/TitleOfSection.astro";
import MobileMarketsCarousel from "./MobileMarketsCarousel.astro";
import VerticalMarketSliders from "./VerticalMarketSliders.astro";
---


<section class="w-full overflow-x-clip bg-transparent py-16 md:py-20">
  <TitleOfSection 
    titleOfSection="MERCADOS" 
    subtitle="NUESTROS"
  />
  <MobileMarketsCarousel />
  <VerticalMarketSliders />
</section>

